ARK_API_KEY=
MCP_TOKEN=
DATA_DIR=.data
MAX_ARTIFACT_BYTES=524288000
IMAGE_REPO_BASE_URL=https://image.zaynjarvis.com
IMAGE_REPO_UPLOAD_KEY=
IMAGE_REPO_TAG=studio
ARK_API_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_PARAM_STYLE=inline
ARK_TITLE_MODEL=doubao-seed-2-0-pro-260215
ARK_VLM_TITLE_MODEL=
ARK_TITLE_TIMEOUT_MS=20000
ARK_TITLE_IMAGE_FETCH_TIMEOUT_MS=8000
ARK_TITLE_MAX_IMAGE_BYTES=5242880
TASK_MONITOR_MODE=poll
PUBLIC_BASE_URL=
ARK_CALLBACK_BASE_URL=
ARK_WEBHOOK_TOKEN=
ARK_MODEL_PRO=doubao-seedance-2-0-260128
