ARK_API_KEY=
MCP_TOKEN=
DATA_DIR=.data
MAX_ARTIFACT_BYTES=524288000
ARK_API_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_PARAM_STYLE=inline
ARK_TITLE_MODEL=ep-20260512155127-ngn88
ARK_TITLE_TIMEOUT_MS=6000
TASK_MONITOR_MODE=poll
PUBLIC_BASE_URL=
ARK_CALLBACK_BASE_URL=
ARK_WEBHOOK_TOKEN=
ARK_MODEL_PRO=doubao-seedance-2-0-260128
