ARK_API_KEY=
MCP_TOKEN=
DATA_DIR=.data
ARK_API_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_PARAM_STYLE=inline
TASK_MONITOR_MODE=poll
PUBLIC_BASE_URL=
ARK_CALLBACK_BASE_URL=
ARK_WEBHOOK_TOKEN=
ARK_MODEL_PRO=doubao-seedance-2-0-260128
ARK_MODEL_LITE_T2V=doubao-seedance-1-0-lite-t2v-250428
ARK_MODEL_LITE_I2V=doubao-seedance-1-0-lite-i2v-250428
